@use "./theme" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom Palette
:root {
  --tw-roman-50: #fdf3f3;
  --tw-roman-100: #fbe5e5;
  --tw-roman-200: #f9cfcf;
  --tw-roman-300: #f3aeae;
  --tw-roman-400: #eb7e7e;
  --tw-roman-500: #e16363;
  --tw-roman-600: #ca3838;
  --tw-roman-700: #aa2b2b;
  --tw-roman-800: #8d2727;
  --tw-roman-900: #752727;
  --tw-roman-950: #3f1010;

  --tw-mine-shaft-50: #f6f6f6;
  --tw-mine-shaft-100: #e7e7e7;
  --tw-mine-shaft-200: #d1d1d1;
  --tw-mine-shaft-300: #b0b0b0;
  --tw-mine-shaft-400: #888888;
  --tw-mine-shaft-500: #6d6d6d;
  --tw-mine-shaft-600: #5d5d5d;
  --tw-mine-shaft-700: #4f4f4f;
  --tw-mine-shaft-800: #454545;
  --tw-mine-shaft-900: #333333;
  --tw-mine-shaft-950: #262626;

  --tw-raw-sienna-50: #fdf6ef;
  --tw-raw-sienna-100: #faeada;
  --tw-raw-sienna-200: #f3d2b5;
  --tw-raw-sienna-300: #ecb485;
  --tw-raw-sienna-400: #e38b54;
  --tw-raw-sienna-500: #de763e;
  --tw-raw-sienna-600: #ce5728;
  --tw-raw-sienna-700: #ab4323;
  --tw-raw-sienna-800: #893723;
  --tw-raw-sienna-900: #6f2f1f;
  --tw-raw-sienna-950: #3b150f;

  --tw-thunderbird-50: #fff5ed;
  --tw-thunderbird-100: #ffe8d4;
  --tw-thunderbird-200: #ffcca9;
  --tw-thunderbird-300: #ffa872;
  --tw-thunderbird-400: #fe7939;
  --tw-thunderbird-500: #fd5412;
  --tw-thunderbird-600: #ee3a08;
  --tw-thunderbird-700: #c52809;
  --tw-thunderbird-800: #9c2110;
  --tw-thunderbird-900: #7e1e10;
  --tw-thunderbird-950: #440b06;

  --tw-chateau-green-50: #f2fbf5;
  --tw-chateau-green-100: #e0f8e8;
  --tw-chateau-green-200: #c2f0d2;
  --tw-chateau-green-300: #93e2af;
  --tw-chateau-green-400: #5ccc86;
  --tw-chateau-green-500: #35b063;
  --tw-chateau-green-600: #27924f;
  -tw-chateau-green-700: #227340;
  --tw-chateau-green-800: #1f5c36;
  --tw-chateau-green-900: #1c4b2f;
  --tw-chateau-green-950: #0a2917;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  @apply bg-mine-shaft-50;
}

a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
}

// Override Angular Material

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

[style-control="button-submit"] .mdc-button__label {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}